
<br>
<br>
    <div class="container-fluid bg">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-9 m-2">
          <div class="card  shadow-lg margetop">
                <div class="card-header  bg-success "  ><strong style="color: white;">Se Connecter</strong></div>
                <div class="card-body">
        
        <div class="row justify-content-center">
          <div class="col-lg-6 pt-3">
        <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)" class="form-conatiner" >

          <!-- Email input -->
          <div class="form-group">
            <label for="newPassword"><i class="bi bi-person-fill"></i> Nouvel Mot de passe</label>
            <div>
              <input type="password" id="newPassword" name="newPassword" class="form-control" minlength="8" [(ngModel)]="newPassword" required>
        
            </div>
          </div> <br>

          <!-- Password input -->
          <div class="form-group">
            <label for="confirmPassword"><i class="bi bi-file-earmark-lock2-fill"></i> Confirm Mot de passe</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" minlength="8" [(ngModel)]="confirmPassword" required>
       
          </div><br>

          <!-- Submit button -->
          <button type="submit"  style="color: white;"  class="btn bg-success  btn-block">

            
            <i class="bi bi-box-arrow-in-right"></i>  Reset Password
          </button>
          <!-- Error message -->
          <div class="alert alert-danger text-center mb-0" *ngIf="notMatch">
            Passwords do not match.
          </div>

        </form>
      </div>
      <div class="col-lg-6 d-none d-lg-block bg-login-image "> <br><img src="assets/mauritanie.png" width="260" height="170" alt="" loading="lazy"></div>
     </div>
   </div></div>
 </div>
</div>