<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" minlength="8" [(ngModel)]="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" minlength="8" [(ngModel)]="confirmPassword" required>
        </div>
        <button type="submit" class="btn btn-success mt-2">Reset Password</button>
      </form>
      <div class="alert alert-danger text-center mb-0" *ngIf="notMatch">
        Passwords do not match.
      </div>
    </div>
  </div>
</div>
