<div class="container">
    <div class="row form-row">
        <div class="col-md-6">
            <h4>Lecture</h4>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sg_checkbox" [(ngModel)]="lectureVentilation.sg">
                    <label class="form-check-label" for="sg_checkbox">
                        SG
                    </label>
                </div>
                <input type="date" class="form-control shadow" id="sg" [(ngModel)]="lectureVentilation.date_sg">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ministre_checkbox" [(ngModel)]="lectureVentilation.ministre">
                    <label class="form-check-label" for="ministre_checkbox">
                        Ministre
                    </label>
                </div>
                <input type="date" class="form-control shadow" id="ministre" [(ngModel)]="lectureVentilation.date_ministre">
            </div>
        </div>
        <div class="col-md-6">
            <h4>Ventilation</h4>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control shadow" id="date" [(ngModel)]="lectureVentilation.date_ventilation">
            </div>
            <div class="col-md-3">
                <label for="code" class="form-label ">Code / الرمز</label>
                <input type="text" class="form-control shadow" id="code" placeholder="Code du document" [(ngModel)]="code" (input)="onInputChange()">
            </div>
            <div class="col-md-3">
                <label for="expediteur" class="form-label">Direction</label>
                <div class="rectangle">
                    <p>Direction: {{ libelle }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row"></div>
    <div class="form-group">
        <label for="urgence">Degré d'urgence</label>
        <select class="form-select " id="urgence" [(ngModel)]="lectureVentilation.degreUrgence">
            <option value="">Sélectionnez...</option>
            <option value="normal">Normal</option>
            <option value="urgent">Urgent</option>
        </select>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="annotations">Annotations</label>
            <textarea class="form-control " id="annotations" rows="3" [(ngModel)]="lectureVentilation.annotation"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group border p-1">
                <h5>Observations</h5>
                <textarea class="form-control " id="general_observations" rows="3" [(ngModel)]="lectureVentilation.observation"></textarea>
            </div>
        </div>
    </div>
    <div *ngIf="courriers.length > 0" class="row mt-5">
        <div class="col-md-12">
          <h5>Sélectionnez un courrier :</h5>
          <select class="form-control" [(ngModel)]="selectedCourrier">
            <option *ngFor="let courrier of courriers" [ngValue]="courrier">{{ courrier.objet }}</option>
          </select>
        </div>
      </div>
    <div class="row">
        <div class="col-12">
            <br>
            <button type="submit" class="btn btn-success btn-lg" (click)="enregistrerLectureVentilation()">Terminé</button>
        </div>
    </div>
    <div *ngIf="submitted">
        <h4>Le Courrier arrive a été lu et ventilé avec succès...</h4>
    </div>
</div>
