<div>
    <h2>Ajouter une Réponse Final</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="date" class="form-label">Date:</label>
        <input id="date" class="form-control" type="date" [(ngModel)]="reponseFinal.date" name="date" required>
      </div>
      <div>
        <label for="idReponse" class="form-label">ID Réponse:</label>
        <input id="idReponse" class="form-control" type="text" [(ngModel)]="reponseFinal.idReponse" name="idReponse" required>
      </div>
      <div>
        <label for="idCourrier" class="form-label">ID Courrier:</label>
        <input id="idCourrier" class="form-control" type="text" [(ngModel)]="reponseFinal.idCourrier" name="idCourrier" required>
      </div>
      <div>
        <label for="observations" class="form-label">Observations:</label>
        <input id="observations" class="form-control" type="text" [(ngModel)]="reponseFinal.observations" name="observations" required>
      </div>
      <div>
        <label for="file" class="form-label">Fichier:</label>
        <input id="file" class="form-control" type="file" (change)="onFileSelected($event, 'file')">
      </div>
      <div>
        <label for="copieNote" class="form-label">Copie Note:</label>
        <input id="copieNote" class="form-control" type="file" (change)="onFileSelected($event, 'copieNote')">
      </div>
      <br>
      <button type="submit" class=" align-middle btn btn-outline-info ">Enregistrer</button>
    </form>
    <div *ngIf="uploadMessage">{{ uploadMessage }}</div>
  </div>
  