<div class="container">
    <div class="row form-row">
        <div class="col-md-6">
            <h4>Notes internes</h4>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class=" shadow form-control" id="date">
            </div>
            <br>
            <div class="form-group">
                <label for="copie">Copie de la note</label>
                <input type="file" class="shadow form-control" id="copie">
            </div>
        </div>
        <div class="col-md-6">
            <h4>Reponse</h4>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="shadow form-control" id="date">
            </div>
            <br>
            <div class="form-group">
                <label for="copie-reponce">Copie Reponse</label>
                <input type="file" class=" shadow form-control" id="copie-reponce">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="form-group border p-1">
                <h5>Observations</h5>
                <textarea class="form-control" id="general_observations" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-success btn-lg">Terminé</button>
        </div>
    </div>
</div>
