<div class="container text-center">
  <h1>ARCHIVAGE GLOBALE</h1>
  <p>des quatre dernières années</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="rechercher"
          placeholder="Rechercher"
        />
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <button type="button" class="btn btn-success btn-block">
            Valider
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-warning btn-block">
            Menu général
          </button>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block">
            Départ
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block">
            Instances
          </button>
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-danger btn-block">Fermer</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-danger btn-block">
            Quitter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
