<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <table class="table">
              <thead>
                  <tr>
                      <th colspan="2" class="text-center">
                          ARCHIVAGE GLOBALE<br>
                          des quatre dernières années
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-danger">
                              M
                          </button>
                      </td>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-dark">
                            Recherches
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-success">
                              Valider
                          </button>
                      </td>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-warning">
                              Menu général
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-primary">
                              Départ
                          </button>
                      </td>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-primary">
                              Instances
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-danger">
                              Fermer
                          </button>
                      </td>
                      <td class="btn-cell">
                          <button type="button" class="btn btn-danger">
                              Quitter
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
