<nav style=" transition: all 0.5s;
z-index: 997;
background: white;
box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/mauritanie.png" height="150" width="150" style="position: absolute; top: 0; left: 0;">
        <div class="col" style="margin-left: 30px; font-family: Times New Roman;">
        
          <div class="text-center fs-5">République Islamique de Mauritanie</div>
          <div class="text-center fs-5">Honneur - Fraternité - Justice</div>
          <div class="text-center fs-5">
            <span>{{ministere}}</span>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="fw-bold fs-4"></div>

        <div class="text-center fs-5"></div>
        <div class="fw-bold fs-4"></div>
      </div>
  
      <div class="col-md-3" style="font-family: Times New Roman;">
        
        <div class="text-center fs-5">الجمهورية الإسلامية الموريتانية</div>
        <div class="text-center fs-5">شرف-إخاء-عدل</div>
        <div class="text-center fs-5">{{ nomarab }}</div>
      </div>
    </div>
  </div>
  
      
      
    <br>

  <nav style=" font-family: Times New Roman;   transition: all 0.5s;
  z-index: 997;
  background: white;
  
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);"
    class="navbar navbar-expand-sm  rounded d-flex justify-content-center"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
      >
        <div class="navbar-nav">
          <div class="vertical-line"></div>
          <button
            class="nav-link btn fs-4"
            [routerLink]="['/list']"
            routerLinkActive="router-link-active"
          >
          <i class="bi bi-house-door-fill"></i><b> Accueil</b>
          </button>
          <div class="vertical-line mx-4"></div>
          <!-- Adjust the mx-3 for more or less space -->
          <button
            class="nav-link btn fs-4"
            [routerLink]="['/dest']"
            routerLinkActive="router-link-active"
          >
          <i class="bi bi-file-earmark-text"></i> <b>Courrier arrivée</b>
          </button>
          <div class="vertical-line mx-4"></div>
          <button
            class="nav-link btn fs-4"
            [routerLink]="['/send']"
            routerLinkActive="router-link-active"
          >
          <i class="bi bi-file-earmark-text-fill"></i> <b>Courrier départ</b> 
          </button>
          <div class="vertical-line mx-4"></div>
          <button class="nav-link btn fs-4" [routerLink]="['/statiques']"><i class="bi bi-reception-4"></i><b> Statistiques </b></button>
          <div class="vertical-line mx-4"></div>
          <button
            *ngIf="isLoginPage()"
            class="nav-link btn active fs-4"
            href="#"
          >
          <i class="bi bi-box-arrow-in-right"></i> <b> Se Connecter</b>
          </button>
          <div class="vertical-line mx-3"></div>
          <button
            *ngIf="!isLoginPage()"
            class="nav-link btn fs-4"
            href="/reset-password" (click)="gotoResePassword()"
          >
          <i class="bi bi-box-arrow-in-left" (click)="logout()"></i><b> Se déconnecter</b>
          </button>
        </div>
      </div>
    </div>
  </nav>
</nav>