

<br>
<br>
    <div class="container-fluid bg">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-9 m-2">
          <div class="card  shadow-lg margetop">
                <div class="card-header text-center justify-content-center" style="background-color: LightGreen;font-family: 'Times New Roman';font-size: large;"><strong style="color:black;"><b><i class="bi bi-box-arrow-in-right"></i> Se Connecter</b></strong></div>
                <div class="card-body">
                  
        <div class="row justify-content-center">
          <div class="col-lg-6 pt-3">
        <form #signupForm="ngForm" class="form-conatiner" (ngSubmit)="loginProcess(signupForm)">

        
          <div class="form-group">
            <label for="form3Example3"><i class="bi bi-person-fill"></i> Nom utilisateur :</label>
            <div>
              <input type="email" id="form3Example3" class="form-control" name="username" [(ngModel)]="username" required>
            </div>
          </div> <br>

         
          <div class="form-group">
            <label for="form3Example4"><i class="bi bi-file-earmark-lock2-fill"></i> Mot de passe :</label>
            <input type="password" id="form3Example4" class="form-control" minlength="8" name="password" [(ngModel)]="password" required>
          
          </div><br>

         
          <button type="submit" class="btn  btn-block" style="background-color: LightGreen;" >
            <i class="bi bi-box-arrow-in-right"></i>  Se connecter
          </button>

          <!-- Error message -->
          <br>
          <div class="alert alert-danger text-center mb-0" *ngIf="showErr">
            Authentification échouée. Veuillez vérifier vos identifiants et réessayer.
          </div>

        </form>
      </div>
      <div class="col-lg-6 d-none d-lg-block bg-login-image "> <br><img src="assets/mauritanie.png" width="240" height="170" alt="" loading="lazy"></div>
     </div>
   </div></div>
 </div>
</div>


  