<div class="container">
  <div class="row g-3">
    <div class="col-md-3">
      <label for="code" class="form-label">Code / الرمز</label>
      <input
        type="text"
        class="form-control"
        id="code"
        placeholder="Code du document"
      />
    </div>
    <div class="col-md-3">
      <label for="expediteur" class="form-label">Expéditeur / المرسل</label>
      <input
        type="text"
        class="form-control"
        id="expediteur"
        placeholder="Nom de l'expéditeur"
      />
    </div>
    <div class="col-md-6">
      <label for="mode_envoi" class="form-label"
        >Mode de transmission / طريقة الإرسال</label
      >
      <select class="form-select" id="mode_envoi">
        <option value="">Choisir un mode</option>
        <option value="courrier">Mail</option>
        <option value="email">Fax</option>
        <option value="email">Cahier de transmission</option>
        <option value="email">Accusé de réception</option>
        <option value="email">Mains propres</option>
        <option value="autre">Autre</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="form row g-2">
        <label for="refCourrier" class="col-sm-3"
          ><b>Réf du courrier / المرجع البريدي</b></label
        >
        <div class="form-group col-sm-9">
          <div class="row">
            <div class="col">
              <label for="numero">N° / الرقم</label>
              <input
                type="number"
                class="form-control"
                id="numero"
                placeholder="numéro courrier"
              />
            </div>
            <div class="col">
              <label for="date">Date / التاريخ</label>
              <input type="date" class="form-control" id="date" />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="codeBarre">Code Barre</label>
        <input
          type="text"
          class="form-control"
          id="codeBarre"
          placeholder="Entrez le code barre"
        />
      </div>
      <div class="form-group">
        <label for="numeroDossier">Nº Dossier - رقم الملف</label>
        <input
          type="text"
          class="form-control"
          id="numeroDossier"
          placeholder="Entrez le numéro du dossier"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="piecesJointes">Pièces Jointes</label>
        <input type="file" class="form-control-file" id="piecesJointes" />
      </div>
      <br />
      <div class="form-group">
        <label for="copieDoc">Copie du doc &nbsp;</label>
        <input type="file" class="form-control-file" id="copieDoc" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="objet">Objet / الموضوع</label>
        <textarea class="form-control" id="objet" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="observations">Observations / الملاحظات</label>
        <textarea class="form-control" id="observations" rows="5"></textarea>
      </div>
    </div>
  </div>
  <div class="col-18">
    <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
  </div>
</div>
