<div class="container">
  <div class="row g-3">
    <div class="col-md-3">
      <label for="code" class="form-label">Code / الرمز</label>
      <input
        type="text"
        class="form-control"
        id="code"
        placeholder="Code du document"
        [(ngModel)]="receptionCourrier.codeBarre"
      />
    </div>
    <div class="col-md-3">
      <label for="expediteur" class="form-label">Expéditeur / المرسل</label>
      <input
        type="text"
        class="form-control"
        id="expediteur"
        placeholder="Nom de l'expéditeur"
        [(ngModel)]="receptionCourrier.expediteur"
      />
    </div>
    <div class="col-md-6">
      <label for="mode_envoi" class="form-label">Mode de transmission / طريقة الإرسال</label>
      <select class="form-select" id="mode_envoi" [(ngModel)]="receptionCourrier.modeTransmission">
        <option value="Mail">Mail</option>
        <option value="Fax">Fax</option>
        <option value="Cahier de transmission">Cahier de transmission</option>
        <option value="Accusé de réception">Accusé de réception</option>
        <option value="Mains propres">Mains propres</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="form row g-2">
        <label for="refCourrier" class="col-sm-3"><b>Réf du courrier</b></label>
        <div class="form-group col-sm-9">
          <div class="row">
            <div class="col">
              <label for="numero">N° / الرقم</label>
              <input
                type="number"
                class="form-control"
                id="numero"
                placeholder="numéro courrier"
                [(ngModel)]="receptionCourrier.refCourrier"
              />
            </div>
            <div class="col">
              <label for="date">Date / التاريخ</label>
              <input type="date" class="form-control" id="date" [(ngModel)]="receptionCourrier.dateReception"/>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="codeBarre">Code Barre</label>
        <input
          type="text"
          class="form-control"
          id="codeBarre"
          placeholder="Entrez le code barre"
          [(ngModel)]="receptionCourrier.codeBarre"
        />
      </div>
      <div class="form-group">
        <label for="numeroDossier">Nº Dossier - رقم الملف</label>
        <input
          type="text"
          class="form-control"
          id="numeroDossier"
          placeholder="Entrez le numéro du dossier"
          [(ngModel)]="receptionCourrier.dossier"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="piecesJointes">Pièces Jointes</label>
        <input type="file" class="form-control-file" id="piecesJointes" [(ngModel)]="receptionCourrier.piecesJointes" />
      </div>
      <br />
      <div class="form-group">
        <label for="copieDoc">Copie du doc &nbsp;</label>
        <input type="file" class="form-control-file" id="copieDoc" [(ngModel)]="receptionCourrier.copieDoc" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="objet">Objet / الموضوع</label>
        <textarea class="form-control" id="objet" rows="5" [(ngModel)]="receptionCourrier.objet"></textarea>
      </div>
      <div class="form-group">
        <label for="observations">Observations / الملاحظات</label>
        <textarea class="form-control" id="observations" rows="5" [(ngModel)]="receptionCourrier.observation"></textarea>
      </div>
    </div>
  </div>
  <div class="col-18">
    <button type="submit" class="btn btn-primary btn-lg" (click)="enregistrerReceptionCourrier()">Enregistrer</button>
  </div>
</div>
