<div *ngIf="!submitted">
    <div class="container">
        <div class="row g-3">
          <div class="col-md-3">
            <label for="code" class="form-label">Code / الرمز</label>
            <input type="text" class="form-control shadow" id="code" placeholder="Code du document"               [(ngModel)]="code"
            [(ngModel)]="transmissionCourrier.codeBarre" (input)="onInputChange()" name="codeBarre">
          </div>
          <div class="col-md-3">
            <label for="expediteur" class="form-label">Expéditeur / المرسل</label>
            <div class="rectangle">
              <p>Expediteur: {{ libelle }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="Ampliations" class="form-label">Ampliations</label>
              <select class="form-select shadow" id="Ampliations" [(ngModel)]="transmissionCourrier.ampliations" name="ampliations" multiple>
                <option *ngFor="let direction of amplitinos" [ngValue]="direction" (click)="toggleAmpliationSelection(direction)">
                  {{ direction.libelle }}&nbsp;&nbsp;&nbsp;{{direction.code}}
                </option>
              </select>            
            </div>
            
            <div>
              <label for="selectedAmpliations" class="form-label">Selected Ampliations:</label>
              <ul>
                <li *ngFor="let ampliation of selectedAmpliations">{{ ampliation.libelle }}</li>
              </ul>
            </div>
</div>            
        </div>
        <div class="row">
          <div class="col-md-6">
            <br>
            <div class="form row g-2">
              <label for="refCourrier" class="col-sm-3"><b>Réf du courrier / المرجع البريدي</b></label>
              <div class="form-group col-sm-9">
                <div class="row">
                  <div class="col">
                    <label for="numero">N° / الرقم</label>
                    <input type="number" class="form-control shadow" id="numero" placeholder="Numéro courrier" [(ngModel)]="transmissionCourrier.refCourrier" name="refCourrier">
                  </div>
                  <div class="col">
                    <label for="date">Date / التاريخ</label>
                    <input type="date" class="form-control shadow" id="date" [(ngModel)]="transmissionCourrier.dateReception" name="dateReception">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="codeBarre">Code Barre</label>
              <input type="text" class="form-control shadow" id="codeBarre" placeholder="Entrez le code barre" [(ngModel)]="transmissionCourrier.codeBarre" name="codeBarre">
            </div>
            <br />
          </div>
          <div class="col-md-6">
            <br><br>
            <div class="form-group">
              <label for="piecesJointes">Pièces Jointes &nbsp;</label>
              <app-joint-file   #jointFileA></app-joint-file>
            </div>
            <br />
            <div class="form-group">
              <label for="copieDoc">Copie du doc &nbsp;</label>
              <app-joint-file   #jointFileB></app-joint-file>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="numeroDossier">Nº Dossier - رقم الملف</label>
            <select
  class="form-select shadow"
  id="dossier"
  [(ngModel)]="transmissionCourrier.dossier"
  name="direction"
>
  <option *ngFor="let dossier of dossiers" [ngValue]="dossier.id">
    {{ dossier.code }}
  </option>
</select>

          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="objet">Objet / الموضوع</label>
            <textarea class="form-control shadow" id="objet" rows="5" [(ngModel)]="transmissionCourrier.objet" name="objet"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="observations">Observations / الملاحظات</label>
            <textarea class="form-control shadow" id="observations" rows="5" [(ngModel)]="transmissionCourrier.observation" name="observations"></textarea>
          </div>
        </div>
        <div class="col-12 text-center">
          <br>
          <button type="submit" class="btn btn-success btn-lg" (click)="enregistrerTransmissionCourrier()">Enregistrer</button>
        </div>
        
  
    </div>
  </div>
  <div *ngIf="submitted">
    <h4>Le Courrier départ a été enregistré avec succès...</h4>
  </div>
  